@import "colors";
@import "fonts";
@import "padding";
@import "margin";

body::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 17px !important;
  // @media only screen and (max-width: 600px) {
  //   font-size: 10px !important;
  // }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}
.app-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100% !important;
  height: 100vh;
}
