@import "colors";
@import "fonts";
@import "padding";
@import "margin";

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d4da;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dcdee6;
}
html {
  font-size: 17px !important;
  // @media only screen and (max-width: 600px) {
  //   font-size: 10px !important;
  // }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}
.app-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100% !important;
  height: 100vh;
}
button {
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  align-items: center;
  border: transparent;
}
