:root {
  --primary-color: #10889d;
  --secondary-color: #00011d;
  --gray-color--1: #7f7f8d;
  --gray-color--2: #c4c4c4;
  --gray-color--3: #cce6ea;
  --gray-color--4: #e3e4eb;
  --gray-color--5: #3d9eaf;
  --gray-color--6: #1fd0b9;
  --dark-purple-color: #1b064b;
  --light-purple-color: #636bcb;
  --light-cyan-color: #87c3ce;
  --purple-color: #3aeca3;
}
