.left-container {
  background-color: var(--color-orange-1);
}
.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}
.right-container {
  display: inline-grid;
  justify-content: center;
  align-content: center;
}
