.manage-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .manage-body {
    overflow: auto;
    padding: 1rem;
    &::-webkit-scrollbar {
      display: none;
    }
    .manage-content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
    }
  }
}
