.manage-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .manage-body {
    height: 100%;
    overflow: auto;
    padding: 1rem;
    &::-webkit-scrollbar {
      display: none;
    }
    .manage-content {
      display: flex;
      flex: 1;
    }
  }
}
